.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    padding: 1rem 2rem;
}

h3{

    padding-left: 2.5rem;
    padding-bottom: 0;
}

.arrow{
 color : #072A6C
}
/* .btns{
    display: flex;
    justify-content: space-between;
} */